<footer id="sticky-footer" class="text-center">
     <!-- Copyright -->
     <div class="p-3 text-white footer-inner">    
        <a class="text-white" href="https://www.trusponse.com/" style="text-decoration: none;" target="_blank">© <span id="year"></span> Copyright TruSponse Solutions </a>
      </div>
</footer>

<script>
  var date = new Date().getFullYear();
  document.getElementById("year").innerHTML = date;
</script>

</body>
</html>