<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <!-- <img src="/smoothie.png" alt=""> -->
  </div>
  <div class="headings">
    <h2>Node Auth</h2>
    <h3>By TruSponse, LLC</h3>
    <a href="/smoothies" class="btn">Enter</a>
  </div>
</header>


<%- include('partials/footer'); -%>