<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <!-- <img src="/smoothie.png" alt=""> -->
  </div>
  <div class="headings">
    <h1 class="display-1">Node Auth</h1>
    <h3>by TruSponse Solutions</h3>
    <% if (user) { %>
      <a href="/protected" class ="btn">Protected Route</a>
      <a href="/logout" class="btn" >Log out</a>
    <% } else { %>
      <a href="/login" class="btn">Login</a>
      <a href="/signup" class="btn">Signup</a>
    <% } %>
    
  </div>
</header>


<%- include('partials/footer'); -%>