<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <!-- <img src="/smoothie.png" alt=""> -->
  </div>
  <div class="headings">
    <h2>Protected Route </h2>
    <p>(only authenticated users should be able to view this page)</p>
    <% if (user) { %>
      <a href="/logout" class="btn" >Log out</a>
    <% } else { %>
      <a href="/signup" class="btn">Signup</a>
      <a href="/login" class="btn">Login</a>
    <% } %>
  </div>
</header>


<%- include('partials/footer'); -%>