<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <!-- <img src="/smoothie.png" alt=""> -->
  </div>
  <div class="headings">
    <h2>Protected Route</h2>
    <h3>By TruSponse, LLC</h3>
    <a href="/signup" class="btn">Signup</a>
    <a href="/login" class="btn">Login</a>
  </div>
</header>


<%- include('partials/footer'); -%>